<!--This is for the login of the authorised users -->
<!-- WWW.ZEE.COM/accounts/Login-->
{% extends  'homepage/base.html'  %}
{% load static %}
{% block Title %}Signing up {% endblock %}
 {% block body %}
                            
                        <div class="container">
                            <div class="row">                  
                                <form method="POST" class="post-form" action="{% url 'AddUser' %}">              
                                        {% csrf_token %}
                                        <!--Name Field -->
                                        <div class="col-lg-6">
                                               <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong>
                                               </div>
                                               <div class="form-group">
                                                        <label for="InputName">Enter Name :</label>
                                                        <div class="input-group">
                                                                <input type="text" class="form-control" name="name" id="InputName" placeholder="Enter Name" required>
                                                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                               </div>
                                            <!--Email Field -->
                                            <div class="form-group">
                                                    <label for="InputEmail">Enter Email :</label>
                                                    <div class="input-group">
                                                            <input type="email" class="form-control" id="InputEmail" name="email" placeholder="Enter Email" >
                                                            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                    </div>
                                            </div>

                                            <!--Password-->
                                            <div class="form-group">
                                                        <label for="Password">Password :</label>
                                                        <div class="input-group">
                                                                <input type="password" class="form-control" id="Password" name="password" placeholder="Password" >
                                                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                        </div>
                                            </div>
                                            <!--Confirm Password-->
                                            <div class="form-group">
                                                    <label for="ConfirmPassword">Confirm Password : </label>
                                                    <div class="input-group">
                                                                <input type="password" class="form-control" id="ConfirmPassword" name="password" placeholder="Confirm Password" >
                                                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                     </div>
                                            </div>
                                            <!--Phone Number-->
                                            <div class="form-group">
                                                    <label for="ConfirmPassword">Phone Number : </label>
                                                    <div class="input-group">
                                                                <input type="number" class="form-control" id="phone" name="phone" placeholder="Phone Number" >
                                                                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                                     </div>
                                            </div>
                                          <!--Submit Button -->
                                               <button type="submit" class="btn btn-primary" title="Click To Submit.!"> Submit!</button>
                                        </div>
                                </form>
                            </div>
                        </div>

}
}
{% endblock %}